version: '3.8'

services:
  # 1. DE APPLICATIE DATABASE
  postgres:
    image: postgres:16.0
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=petclinic
      - POSTGRES_USER=petclinic
      - POSTGRES_DB=petclinic
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U petclinic"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default

  # 2. DE PETCLINIC APPLICATIE
  petclinic:
    container_name: petclinic
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=postgres
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/petclinic
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - default

  # 3. K6 RESULTATEN OPSLAG
  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
      - INFLUXDB_ADMIN_ENABLED=true
      - INFLUXDB_USER=k6_user
      - INFLUXDB_USER_PASSWORD=k6_pw
    volumes:
      - influxdb_data:/var/lib/influxdb
    networks:
      - default

  # 4. CPU METRICS COLLECTOR
  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter

    ports:
      - "9100:9100"
    networks:
      - monitoring_net

  # 5. CPU METRICS DATABASE
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - node-exporter
    networks:
      - monitoring_net

  # 6. VISUALISATIE
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - influxdb
      - prometheus
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - default
      - monitoring_net

  # 7. LOAD GENERATOR
  k6:
    image: grafana/k6:latest
    container_name: k6
    volumes:
      - ./performance-tests:/scripts
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
      - TARGET_HOST=http://petclinic:8080
    depends_on:
      - petclinic
      - influxdb
      - prometheus
    networks:
      - default

volumes:
  postgres_data:
  influxdb_data:
  grafana_data:
  prometheus_data:

networks:
  # Standaard netwerk voor app en k6
  default:
    driver: bridge
  # Statisch netwerk voor monitoring
  monitoring_net:
    driver: bridge
